@charset "UTF-8";
/* globle style css*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color-black: #141518;
  --text-color-white: #FFFFFF;
  --bg-color-primary: #0D0D0E;
  --bg-color-second: #E5E5E5;
  --primary-font: "Public Sans", sans-serif;
  --secondary-font: "Manrope", sans-serif;
}

html {
  margin: 0;
  font-family: var(--primary-font);
  font-size: 14px;
  padding: 0;
  height: 100%;
}

body {
  background: var(--bg-color-second);
  color: #4D4D4D;
}

h1,
h2,
h4,
h5,
h6,
a,
ul,
li,
input {
  font-family: var(--primary-font);
}

h3 {
  font-family: var(--primary-font);
  font-size: 40px;
  line-height: 1.2;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 60px;
}

button {
  line-height: 1.5;
}

.uppercase {
  text-transform: uppercase;
}

.header .top-header {
  height: 42px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0D0D0E;
}
.header .top-header ul li .nav-link {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.header .top-header ul li:hover .nav-link {
  color: #d8d8d8;
}
.header .top-header .nav-left {
  margin-left: 87px;
}
.header .top-header .nav-right {
  margin-right: 5px;
  padding-left: 50px;
  align-items: center;
}
.header .top-header .nav-right .nav-login {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .top-header .nav-right .nav-login .icon-user {
  width: 16px;
  height: 16px;
}
.header .top-header .nav-right .nav-login .nav-link {
  padding: 0;
  letter-spacing: 0.04em;
}
.header .top-header .nav-right .nav-login .nav-link:hover {
  color: #d8d8d8;
}
.header .top-header .nav-login .nav-link,
.header .top-header .nav-login .icon-user,
.header .top-header .navigator {
  margin-right: 6px;
}
.header .top-header .nav-signup a {
  padding: 0;
  letter-spacing: 0.04em;
}
.header .top-header .nav-langue .img-langue {
  margin-left: 33.3px;
  margin-right: 6.33px;
  width: 16px;
  height: 16px;
}
.header .top-header .nav-langue .dropdown-langue {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .top-header .nav-langue .btn-langue {
  background: none;
  border: none;
  color: #FFFFFF;
  height: 42px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 11px;
  letter-spacing: 0.04em;
}
.header .top-header .nav-langue .btn-langue .angle-down {
  margin-left: 4px;
}
.header .top-header .nav-langue .btn-langue.dropdown-toggle::after {
  display: none;
}
.header .nav-item .nav-link {
  padding: 0;
  letter-spacing: 0.04em;
}
.header .nav-item + .nav-item {
  margin-left: 32px;
}

.logo {
  position: absolute;
  z-index: 1;
  left: 60px;
}
.logo .img-logo {
  max-width: 57.37px;
}

/* header bottom */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 118px;
  z-index: 99;
}
.header .bottom-header .navbar {
  padding: 0 32px 0 60px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 76px;
  display: flex;
  justify-content: right;
}
.header .bottom-header .navbar.nav-is-active {
  background: #fff;
  border-bottom: 1px solid;
}
.header .bottom-header .navbar.nav-is-active .nav-list .nav-item .nav-item-link {
  color: #000;
}
.header .bottom-header .navbar.nav-is-active .nav-item-icon-search ellipse,
.header .bottom-header .navbar.nav-is-active .nav-item-icon-search path {
  stroke: #000;
}
.header .bottom-header .navbar.nav-is-active .burger-line {
  background: #000 !important;
}
.header .bottom-header .navbar .nav-list {
  padding: 0;
  margin: 0;
  justify-content: right;
  height: 76px;
  display: flex;
  list-style-type: none;
}
.header .bottom-header .navbar .nav-list .nav-item {
  padding: 28px 24px;
}
.header .bottom-header .navbar .nav-list .nav-item.nav-item-icon-search {
  margin-right: 15px;
  padding: 26px 20px 28px 28px;
}
.header .bottom-header .navbar .nav-list .nav-item.nav-item-icon-search:hover {
  cursor: pointer;
}
.header .bottom-header .navbar .nav-list .nav-item .nav-item-link {
  color: #FFFFFF;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.4;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.header .bottom-header .navbar .nav-list .nav-item .nav-item-link:hover {
  color: #d8d8d8;
}
.header .bottom-header .navbar .nav-list .nav-item.nav-item-icon-search .fa-search {
  color: #fff;
}
.header .bottom-header .navbar .nav-list .nav-item .burger {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 12;
  width: 18px;
  height: 1rem;
  margin-right: 0.5rem;
  border: none;
  margin-top: 3px;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}
.header .bottom-header .navbar .nav-list .nav-item .burger .burger-line {
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 2px;
  border: none;
  outline: none;
  opacity: 1;
  transform: rotate(0deg);
  background-color: #ffffff;
  transition: 0.25s ease-in-out;
}
.header .bottom-header .navbar .nav-list .nav-item .burger .burger-line:nth-child(1) {
  top: 0px;
}
.header .bottom-header .navbar .nav-list .nav-item .burger .burger-line:nth-child(2) {
  top: 0.4rem;
}
.header .bottom-header .navbar .nav-list .nav-item .burger .burger-line:nth-child(3) {
  top: 0.8rem;
}
.header .bottom-header .navbar .nav-list .nav-item .burger.is-active .burger-line:nth-child(1) {
  top: 0.4rem;
  transform: rotate(135deg);
}
.header .bottom-header .navbar .nav-list .nav-item .burger.is-active .burger-line:nth-child(2) {
  right: -1.5rem;
  opacity: 0;
  visibility: hidden;
}
.header .bottom-header .navbar .nav-list .nav-item .burger.is-active .burger-line:nth-child(3) {
  top: 0.4rem;
  transform: rotate(-135deg);
}

.menu-main-container.is-active {
  left: 0;
}
.menu-main-container.is-active .menu-image.is-active img {
  -webkit-animation: moveUp 2s;
          animation: moveUp 2s;
}
.menu-main-container.is-active .main-menu-primary.is-active {
  -webkit-animation: moveDown 2s;
          animation: moveDown 2s;
}
.menu-main-container.is-active .sub-menu.is-active {
  -webkit-animation: moveDown 2s;
          animation: moveDown 2s;
}

.menu-main-container {
  position: fixed;
  top: 118px;
  left: -100%;
  z-index: 10;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #000;
  background-color: #fff;
}
.menu-main-container .menu {
  padding: 0 60px;
  height: 90vh;
}
.menu-main-container .menu .row {
  justify-content: space-between;
  height: 90vh;
}
.menu-main-container .menu .row .menu-image {
  border-left: 1px solid;
}
.menu-main-container .menu li {
  align-items: center;
  padding: 11px 12px;
  height: 42px;
  border-radius: 2px;
  margin-bottom: 10px;
}
.menu-main-container .menu li a {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #141518;
  text-decoration: none;
}
.menu-main-container .menu li.is-active {
  background: #F6F8FC;
}
.menu-main-container .menu li:hover {
  background: #F6F8FC;
}
.menu-main-container .menu .main-menu-primary {
  margin-top: 13px;
}
.menu-main-container .menu .main-menu-primary .main-menu-primary-lists {
  padding: 0;
}
.menu-main-container .menu .main-menu-primary .main-menu-primary-lists .main-menu-primary-item a {
  text-transform: uppercase;
}
.menu-main-container .menu .sub-menu {
  margin-top: 13px;
}
.menu-main-container .menu .sub-menu .sub-menu-lists {
  padding: 0;
}
.menu-main-container .menu .menu-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu-main-container .menu .menu-image img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 433px;
  max-height: 540px;
}

@-webkit-keyframes moveUp {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes moveDown {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}
.search {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  top: 42px;
  display: none;
}
.search.is-active {
  display: block;
}
.search .search-bar {
  border-bottom: 1px solid #000;
  max-width: 1110px;
  margin: auto;
  margin-top: 155px;
}
.search .search-bar .search-input {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  padding: 15px 0;
  padding-left: 29px;
  letter-spacing: 0.01em;
  font-family: var(--primary-font);
}

.header .bottom-header .navbar .nav-list .nav-item.nav-item-icon-search.is-active svg {
  display: none;
}
.header .bottom-header .navbar .nav-list .nav-item.nav-item-icon-search.is-active .close-button.is-active {
  display: block;
}
.header .bottom-header .navbar .nav-list .nav-item .close-button {
  display: none;
}
.header .bottom-header .navbar .nav-list .nav-item .search-close {
  display: none;
}

footer {
  padding: 32px 60px 20px 60px;
  background: #000000;
  color: var(--text-color-white);
}
footer .footer-links .link a {
  color: var(--text-color-white);
  text-decoration: none;
}
footer .footer-links .link a:hover {
  color: rgb(228, 228, 228);
}

.home-slide .home-slide-carousel.slick-vertical .slick-slide {
  border-width: 0px;
}
.home-slide .home-slide-carousel .item {
  height: 100vh;
  position: relative;
  text-align: center;
}
.home-slide .home-slide-carousel .item img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-slide .home-slide-carousel .item .content {
  position: absolute;
  left: 60px;
  z-index: 1;
  bottom: 113px;
  text-align: left;
  max-width: 520px;
}
.home-slide .home-slide-carousel .item .content * {
  color: var(--text-color-white);
}
.home-slide .home-slide-carousel .item .content .title {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  font-family: "Manrope";
  margin-bottom: 22px;
}
.home-slide .home-slide-carousel .item .content .desc-wrap {
  margin-bottom: 32px;
}
.home-slide .home-slide-carousel .item .content .desc-wrap .title {
  margin-bottom: 0;
}
.home-slide .home-slide-carousel .item .content .desc-left {
  margin-right: 54px;
}
.home-slide .home-slide-carousel .item .content .unit {
  font-size: 20px;
  line-height: 1.5;
  margin-left: 6px;
  font-family: "Manrope";
}
.home-slide .home-slide-carousel .item .content .description {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}
.home-slide .home-slide-carousel .item .content .btn-detail {
  padding: 13px 32px;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.04em;
  background: #DAA622;
  border-radius: 2px;
}
.home-slide .slick-dots {
  display: flex;
  padding: 0 60px;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 53px;
  background: #0D0D0E;
  margin-bottom: 0;
}
.home-slide .slick-dots li {
  padding: 12px 0 15px 0;
}
.home-slide .slick-dots li button {
  display: none;
}
.home-slide .slick-dots li::before {
  color: var(--text-color-white);
}
.home-slide .slick-dots li:nth-child(1)::before {
  content: "Sản xuất kinh doanh";
}
.home-slide .slick-dots li:nth-child(2)::before {
  content: "Dự án của chúng tôi";
}
.home-slide .slick-dots li:nth-child(3)::before {
  content: "Lịch sử phát triển";
}
.home-slide .slick-dots li:nth-child(4)::before {
  content: "Tin tức mới";
}
.home-slide .slick-dots li:nth-child(5)::before {
  content: "Tuyển dụng";
}
.home-slide .slick-dots li::after {
  margin-top: 2px;
  content: "";
  background: var(--text-color-white);
  width: 28px;
  height: 2px;
  display: block;
}
.home-slide .slick-dots li:hover {
  cursor: pointer;
}
.home-slide .slick-dots li:hover::after {
  width: 100%;
  background: #DAA622;
  transition: all 0.3s ease;
}
.home-slide .slick-dots li.slick-active::after {
  content: "";
  width: 100%;
  background: #DAA622;
  display: block;
}
.home-slide .slick-dots li.slick-active:hover::after {
  -webkit-animation: none;
          animation: none;
}

@media (max-width: 991px) {
  .header .bottom-header .navbar .nav-list .nav-item {
    padding: 28px 10px;
  }
  .footer.d-flex {
    flex-wrap: wrap;
  }
  .footer.d-flex * {
    margin: 0 auto;
  }
}
@media (max-width: 880px) {
  .home-header {
    margin-bottom: -43px;
  }
  .menu-main-container {
    top: 75px;
  }
  .menu-main-container .menu {
    padding: 0;
  }
  .menu-main-container .menu .row {
    height: auto;
  }
  .menu-main-container .menu .row li {
    padding: 11px 20px;
    border-bottom: 1px solid;
  }
  .menu-main-container .menu .row li:last-child {
    border-bottom: none;
  }
  .menu-main-container .menu .row .menu-image {
    display: none;
  }
  .header .bottom-header .navbar .nav-list .nav-item:nth-last-of-type(n + 3) {
    display: none;
  }
  .home-slide .slick-dots li::before {
    content: "" !important;
  }
  .home-slide .slick-dots li::after {
    width: 28px !important;
  }
  .home-slide .slick-dots {
    justify-content: center;
  }
  .home-slide .slick-dots li {
    padding: 12px 10px 15px 10px;
  }
}/*# sourceMappingURL=index.css.map */