/* globle style css*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color-black: #141518;
    --text-color-white: #FFFFFF;
    --text-color-yellow: #DAA622;
    --bg-color-primary: #0D0D0E;
    --bg-color-second: #E5E5E5;
    --primary-font: 'Public Sans', sans-serif;
    --secondary-font: 'Manrope', sans-serif;
}

html {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 14px;
    padding: 0;
    height: 100%;
}

.custom-container {
    max-width: 1128px;
    margin: auto;
}

body {
    background: var(--bg-color-second);
    color: #4D4D4D;

    & * {
        font-family: var(--primary-font);
    }

    a,
    ul,
    li,
    input {
        font-family: var(--primary-font);
        padding: 0;
        margin: 0;
    }

    select {
        background: unset;
        border: unset;

        &:focus {

            border: unset;
        }

        &:focus-visible {
            outline: none;
            border: unset;
        }
    }

    h1,
    .size-headding-54 {
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 54px;
        line-height: 115%;
    }

    h2,
    .size-headding-48 {
        font-family: var(--secondary-font);
        font-weight: 500;
        font-size: 48px;
        line-height: 115%;
    }

    h3,
    .size-headding-40 {
        font-family: var(--secondary-font);
        font-size: 40px;
        line-height: 1.2;
        font-weight: 500;

        @media(max-width:767px) {
            font-size: 28px;
            line-height: 130%;
        }
    }

    h4,
    .size-headding-32 {
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
        color: #141518;
    }

    h5,
    .size-headding-28 {
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 28px;
        line-height: 130%;
        color: #141518;
    }

    h6,
    .size-headding-22 {
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 22px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #141518;

    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    a {
        text-decoration: none;
        color: unset;

        &:hover {
            text-decoration: none;
            color: #d8d8d8;
        }
    }

    ul {
        list-style-type: none;
    }

    .container {
        max-width: 1440px;
        margin: auto;
        padding: 0 60px
    }

    button {
        line-height: 1.5
    }

    .uppercase {
        text-transform: uppercase;
    }

    .size-text-14 {
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.04em;
    }

    .size-text-16 {
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.01em;
    }

    .size-text-18 {
        font-family: var(--primary-font);
        font-weight: 300;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.01em;
    }

    input.form-control,
    select.form-select {
        height: 48px !important;
        padding: 10px 16px;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.01em;
        border: 1px solid #D1D5DB;
        border-radius: 2px;
        outline: none;

        &:hover,
        &:focus {
            border: 1px solid #7E8189;
            border-color: #7E8189;
            outline: none;
            box-shadow: none;

        }

        &:invalid,
        option[value=""] {
            color: #7E8189 !important;
        }

        &.search {
            background-image: url('../images/Search.png');
            background-repeat: no-repeat;
            padding-left: 40px;
            background-position-y: center;
            background-position-X: 10px;
        }
    }

    button.btn-custom-1 {
        background-color: #DAA622;
        border: 1px solid #DAA622;
        border-color: #DAA622 !important;
        color: #fff;
        font-family: var(--primary-font);
        font-weight: 500;

        &.btn-custom-1-l {
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.01em;
            padding: 7px 16px;
        }

        &.btn-custom-1-m {
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.01em;
            padding: 4px 12px;
        }

        &.btn-custom-1-s {
            font-size: 11px;
            line-height: 150%;
            letter-spacing: 0.04em;
            padding: 2px 8px;
        }

        &:hover {
            color: #DAA622;
            background-color: unset;
        }
    }

    button.btn-custom-2 {
        background-color: #DAA622;
        border: 1px solid #DAA622;
        border-color: #DAA622 !important;
        color: #fff;
        font-family: var(--primary-font);
        font-weight: 500;
        border-radius: 100px;

        &.btn-custom-2-l {
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.01em;
            padding: 7px 16px;
        }

        &.btn-custom-2-m {
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.01em;
            padding: 4px 12px;
        }

        &.btn-custom-2-s {
            font-size: 11px;
            line-height: 150%;
            letter-spacing: 0.04em;
            padding: 2px 8px;
        }

        &:hover {
            color: #DAA622;
        }
    }

    button.btn-custom-3 {
        background-color: #434449;
        border: 1px solid #434449;
        border-color: #434449 !important;
        color: #fff;
        font-family: var(--primary-font);
        font-weight: 500;
        border-radius: 100px;

        &.btn-custom-3-l {
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.01em;
            padding: 7px 16px;
        }

        &.btn-custom-3-m {
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.01em;
            padding: 4px 12px;
        }

        &.btn-custom-3-s {
            font-size: 11px;
            line-height: 150%;
            letter-spacing: 0.04em;
            padding: 2px 8px;
        }

        &:hover {
            color: #434449;
            background-color: unset;
        }
    }

    button.btn-custom-4 {
        background-color: #434449;
        border: 1px solid #434449;
        border-color: #434449 !important;
        color: #fff;
        font-family: var(--primary-font);
        font-weight: 500;

        &.btn-custom-4-l {
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.01em;
            padding: 7px 16px;
        }

        &.btn-custom-4-m {
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.01em;
            padding: 4px 12px;
        }

        &.btn-custom-4-s {
            font-size: 11px;
            line-height: 150%;
            letter-spacing: 0.04em;
            padding: 2px 8px;
        }

        &:hover {
            background-color: unset;
            color: #434449;
        }
    }

    button.btn-search,
    button.btn-more {
        align-items: center;
        width: 132px;
        height: 48px;
        background: #DAA622;
        border-radius: 2px;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            border-color: #DAA622;
        }
    }

    button.btn-detail {
        border: 1px solid #DAA622;
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.04em;
        align-items: center;
        height: 48px;
        padding: 10px 28px;
        text-transform: uppercase;
        color: #DAA622;

        svg {
            margin-left: 14px;
        }

        &:hover {
            background: #DAA622;
            color: #FFFFFF;

            svg {
                * {
                    fill: #FFFFFF;
                    stroke: #FFFFFF;
                }
            }
        }

    }

    span.line-headding {
        width: 32px;
        margin: auto;
        display: block;
        border-top: 2px solid #daa622;
    }

    span.tag {
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 11px;
        line-height: 150%;
        justify-content: space-between;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #434449;
        position: relative;

        .text {
            position: absolute;
            left: 20px;
            width: max-content;
            top: -8px;
        }

        &.tag-calender::before {
            content: '';
            width: 20px;
            display: inline-flex;
            height: 20px;
            background-image: url('../images/Calendar.png');
        }

        &.tag-name::before {
            content: '';
            width: 20px;
            display: inline-flex;
            height: 20px;
            background-repeat: no-repeat;
            background-image: url('../images/tag.png');
        }

        &.tag-file::before {
            content: '';
            width: 20px;
            display: inline-flex;
            height: 20px;
            background-repeat: no-repeat;
            background-image: url('../images/Vector\ 157.png');
        }


    }

    .custom-pagination {
        li.page-item {
            border-radius: 8px;
            font-family: var(--primary-font);
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.01em;
            background: #F6F8FC;
            border-radius: 6px;
            margin: 0 6px;

            .page-link {
                padding: 5px 14px;
                background-color: unset;
                border: unset;
                color: #434449;
            }

            &.disable .page-link {
                color: #7E8189;
            }

            &.active {
                background: #FAF6F2;

                .page-link {
                    color: #DAA622;
                }
            }
        }
    }

    .table {
        font-family: var(--primary-font);
        border-collapse: collapse;
        width: 100%;

        .table-body {
            tr {
                height: 58px;
                font-size: var(--primary-font);
                font-weight: 600;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0.01em;
                color: #141518;
                opacity: 0.8;

                td {
                    padding: 0;
                    border-width: 0px;
                    padding: 16px 20px;

                    &:first-child {
                        border-right: 1px solid #fff;
                    }
                }

                &:nth-child(2n+1) {
                    background: #F6F8FC;
                }
            }

        }
    }



    .slide-img {
        position: relative;
        height: 80vh;
        margin: 10px;
        display: flex;
        flex: 1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        color: #fff;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: flex 0.3s;
        -webkit-transition: flex 0.3s;
        -moz-transition: flex 0.3s;
        -ms-transition: flex 0.3s;
        -o-transition: flex 0.3s;

        &.active {
            flex: 10;
        }
    }


}

@import './scss/custom/header';
@import './scss/custom/footer';
@import './scss/custom/slider';
@import './scss/custom/sliderCard';
@import './scss/pages/dieu-khoan';
@import './scss/pages/responsive';
@import './scss/pages/dangki';
@import './scss/pages/dangnhap';
@import './scss/pages/quenmatkhau';
@import './scss/pages/xacnhanquenmatkhau';
@import './scss/pages/bando.scss';
@import './scss/pages/chitietbando2';