.slick-arrow {
    position: absolute;
    top: 47%;

    &::before {
        font-size: 30px;
    }

    &.slick-next {
        right: -47px;
    }

    &.slick-prev {
        left: -40px;
    }
}

.slider-card-wrapper {
    background: #F6F8FC;

    .container {
        padding: 62px 85px;

        @media(max-width:1200px) {
            padding: 74px 0px;
        }

        h4 {
            padding: 0 15px;
        }

        .slider-cards {
            margin-top: 20px;

            .slick-track {
                display: flex;
                justify-content: space-between;

                .card-custom.card {
                    width: 393px !important;
                    border-radius: 2px;
                    border: unset;
                    margin: 0 15px;
                    background-color: #FFFFFF;

                    img.card-img-top {
                        height: 223px;

                        @media(max-width:1200px) {
                            height: 165px;
                        }
                    }

                    .card-body {padding: 25px 20px 15px;

                        @media(max-width:1200px) {
                            padding: 25px 20px 6px;
                        }

                        .card-title {
                            margin-bottom: 14px;
                        }

                        span.icon {
                            max-width: 24px;
                            max-height: 24px;
                        }

                        ul li.content {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

    }
}