<!DOCTYPE html>
<html lang="en">

<body>
    <footer class="footer-second">
        <div class="footer-top">
            <div class="row">
                <div class="col-12">
                    <div class="logo">
                        <img class="img-logo" src="../access/images/icon-logo.png" alt="logo">
                    </div>
                </div>
                <div class="col-12 col-xl-4">

                    <div class="name-site size-text-16">
                        Bitexco Power
                    </div>
                    <div class="adress size-text-14">
                        Tầng 1, The Manor Towers, Mễ Trì, P. Mỹ Đình 1, Q. Nam Từ Liêm, Hà Nội
                    </div>
                    <div class="info size-text-14">
                        <a href="tel:+ 124 875 89 90">+ 124 875 89 90</a> | <a href="tel:+ 124 875 89 90">+ 124 875 89
                            90</a>
                        <br />
                        <a href="mailto:info@bitexco.com">info@bitexco.com</a>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <ul>
                        <li><a href="#">Thương hiệu Bitexco Power</a></li>
                        <li><a href="#">Quan hệ cổ đông</a></li>
                        <li><a href="#">Đối tác</a></li>
                        <li><a href="#">Danh mục dự án</a></li>
                    </ul>
                </div>
                <div class="col-12 col-xl-4">
                    <ul>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Sự kiện</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer d-flex justify-content-between">
            <div class="copy-right">
                <span>©2022 Bitexco Group of Companies.</span>
            </div>
            <ul class="d-flex footer-links">
                <li class="link px-2"><a href="#">Trụ sở</a></li>
                <li class="link px-2"><a href="#">Sơ đồ website</a></li>
                <li class="link px-2"><a href="#">Điều khoản sử dụng</a></li>
                <li class="link px-2"><a href="#">Chính sách bảo mật</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>