<!DOCTYPE html>
<html lang="en">

<body>
    <footer>
        <div class="footer d-flex justify-content-between">
            <div class="copy-right">
                <span>©2022 Bitexco Group of Companies.</span>
            </div>
            <ul class="d-flex footer-links">
                <li class="link px-2"><a href="#">Trụ sở</a></li>
                <li class="link px-2"><a href="#">Sơ đồ website</a></li>
                <li class="link px-2"><a href="#">Điều khoản sử dụng</a></li>
                <li class="link px-2"><a href="#">Chính sách bảo mật</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>