<!DOCTYPE html>
<html lang="en">

<body>
    <footer>
        <div class="footer d-flex justify-content-between">
            <div class="copy-right">
                <span>©2022 Bitexco Group of Companies.</span>
            </div>
            <ul class="d-flex footer-links">
                <li class="link px-2"><a href="#">Trụ sở</a></li>
                <li class="link px-2"><a href="#">Sơ đồ website</a></li>
                <li class="link px-2"><a href="#">Điều khoản sử dụng</a></li>
                <li class="link px-2"><a href="#">Chính sách bảo mật</a></li>
            </ul>
        </div>
        <div class="top-header home-header footer-mobile">
            <ul class="nav nav-left">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">tập đoàn bitexco
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">bất động sản
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">thương mại - dịch vụ
                    </a>
                </li>
            </ul>
            <ul class="nav  nav-right">
                <li class="nav-login">
                    <img class="icon-user" src="../access/images/icon-user.png" alt="">
                    <a class="nav-link " aria-current="page" href="#">đăng nhập
                    </a>
                </li>
                <span class="navigator" style="place-self: center; color: #d8d8d88c;">|</span>
                <li class="nav-signup">
                    <a class="nav-link" href="#">đăng ký
                    </a>
                </li>
                <li class="nav-langue">
                    <div class="dropdown-langue">
                        <img class="img-langue" src="../access/images/icon-langue.PNG" alt="">
                        <button class="btn-langue dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Tiếng Việt
                            <img class="angle-down" src="../access/images/angle-down.png" alt="">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Action two</a></li>
                            <li><a class="dropdown-item" href="#">Action three</a></li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </footer>
</body>

</html>