<!DOCTYPE html>
<html lang="en">

<body>
    <header>
        <div class="home header">
            <div class="top-header home-header">
                <ul class="nav nav-left">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">tập đoàn bitexco
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">bất động sản
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">thương mại - dịch vụ
                        </a>
                    </li>
                </ul>
                <ul class="nav justify-content-center d-flex nav-right">
                    <li class="nav-login">
                        <img class="icon-user" src="../access/images/icon-user.png" alt="">
                        <a class="nav-link " aria-current="page" href="#">đăng nhập
                        </a>
                    </li>
                    <span class="navigator" style="place-self: center; color: #d8d8d88c;">|</span>
                    <li class="nav-signup">
                        <a class="nav-link" href="#">đăng ký
                        </a>
                    </li>
                    <li class="nav-langue">
                        <div class="languages d-flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                fill="none">
                                <path
                                    d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z"
                                    stroke="#434449" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M7.00012 11C7.00012 16.5228 8.79098 21 11.0001 21C13.2093 21 15.0001 16.5228 15.0001 11C15.0001 5.47715 13.2093 1 11.0001 1C8.79098 1 7.00012 5.47715 7.00012 11Z"
                                    stroke="#434449" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M1 11H21" stroke="#434449" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <select name="" id="">
                                <option value="">Tiếng Việt</option>
                                <option value="">English</option>
                                <option value="">Japanese</option>
                                <option value="">Spain</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bottom-header ">

                <div class="logo">
                    <img class="img-logo" src="../access/images/icon-logo.png" alt="logo">
                </div>
                <div class="navbar">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="nav-item-link" href="#">Thuỷ điện
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item-link" href="#">Danh mục dự án
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item-link" href="#">Thông tin mời thầu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item-link" href="#">Tin tức
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item-link" href="#">Tuyển dụng
                            </a>
                        </li>
                        <li class="nav-item nav-item-icon-search">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="9.16667" cy="9.16667" rx="6.66667" ry="6.66667" stroke="white"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M13.75 14.1318L17.9167 18.2985" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <svg class="close-button" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20" fill="none">
                                <path d="M4.16729 15.8327L15.8335 4.1665" stroke="#2B3F6C" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M4.16729 4.16729L15.8335 15.8335" stroke="#2B3F6C" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </li>

                        <li class="nav-item ">
                            <span class="header-mobile-menu-icon " id="header-mobile-menu-icon">
                                <span class="burger" id="burger">
                                    <span class="burger-line"></span>
                                    <span class="burger-line"></span>
                                    <span class="burger-line"></span>
                                </span>
                            </span>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="menu-main-container">
            <div id="menu-main" class="menu">
                <div class="row">
                    <div class="col-12 col-xl-3 main-menu-primary">
                        <ul class="main-menu-primary-lists">
                            <li class="main-menu-primary-item is-active"><a href="#">Sản xuất điện</a></li>
                            <li class="main-menu-primary-item"><a href="#">kinh doanh điện</a></li>
                            <li class="main-menu-primary-item"><a href="#">dịch vụ</a></li>
                            <li class="main-menu-primary-item"><a href="#">lĩnh vực khác</a></li>
                            <li class="main-menu-primary-item"><a href="#">Thông tin mời thầu</a></li>
                            <li class="main-menu-primary-item"><a href="#">truyền thông</a></li>
                            <li class="main-menu-primary-item"><a href="#">sự kiện</a></li>
                            <li class="main-menu-primary-item"><a href="#">tuyển dụng</a></li>
                            <li class="main-menu-primary-item"><a href="#">liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-xl-5 sub-menu">
                        <ul class="sub-menu-lists">
                            <li class="sub-menu-item"><a href="#">Thương hiệu Bitexco Power</a></li>
                            <li class="sub-menu-item"><a href="#">Lịch sử phát triển</a></li>
                            <li class="sub-menu-item"><a href="#">Ban lãnh đạo</a></li>
                            <li class="sub-menu-item"><a href="#">Các công ty thành viên</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-xl-4 menu-image">
                        <img src="../access/images/image73.png" alt="image73.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="search">
            <div class="search-bar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <circle cx="11" cy="11.5" r="8" stroke="#0D0D0E" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M16.5 17.458L21.5 22.458" stroke="#0D0D0E" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                <input class="search-input" type="text" placeholder="Nhập nội dung tìm kiếm">
            </div>
        </div>
    </header>
</body>

</html>