footer {
    padding: 32px 60px 20px 60px;
    background: #000000;
    color: var(--text-color-white);

    .footer-links {
        .link {
            a {
                color: var(--text-color-white);
                text-decoration: none;

                &:hover {
                    color: rgb(228, 228, 228);
                }
            }
        }
    }
}