.news-detail-container {
	max-width: 1240px;
	margin: auto;
	position: relative;
}

.medias,
.breadcrumbs-content {
	position: absolute;
}

.article-container {
	max-width: 1236px;
	margin: auto;
}

section.article  {
	article {
		padding-left: 158px;
	padding-right: 157px;
	}
}

section.article-header-section {
	margin-top: 200px;
}